body {
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
}

.x {
  color: red;
}

.o {
  color: blue;
}

#board {
  font: 85px arial, sans-serif;
  margin: 3px;
  /* Grid for 3 by 3 layout */
  display: grid;
  /* set column and row height to 100px */
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  /* gap between rows and columsn 8px */
  gap: 8px;
  /* grid items at center of grid */
  justify-content: center;
}

#board > div {
  border: 1px solid LightSkyBlue;
  text-align: center;
}
