/* center vertically form widget */
.social-join {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* give equal width to labels */
.form-group label {
  flex-basis: 100px;
}
