.book-list {
  width: 30rem;
  max-width: 80%;
  margin: auto;
  list-style: none;
  padding: 0px;
}

.book-list h3 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 1rem;
}

.book-list li {
  margin: 1rem 0;
  padding: 0rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
}
